<section id="books" class="mt-5">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6 col-md-4" *ngFor="let news of newss">
        <div class="card_book">
          <div class="card">
            <div class="card-body text-center">
              <p>
                <img class="img-fluid" src="{{news.photoUrl}}" alt="{{news.titulo}}">
              </p>
              <h4 routerLink="/news/{{news.id}}" class="card-title">{{news.titulo}}</h4>
              <p class="card-text">
                {{news.descripcion }}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>